.home {
  display: flex;
  justify-content: center;

  background-size: 100vw;
  background-repeat: no-repeat;
  height: 100vw;

  background-color: #252525;
}



.image {
  object-fit: contain;
  max-width: 100vw;

  position: absolute;
  padding: 1px;

  transition: 1s;
}
.image {
  object-fit: contain;
  max-width: 100vw;

  position: absolute;
  padding: 1px;

  transition: 1s;
}


/*SLIDESHOW*/

#stage a {
  position: absolute;
}

#stage a:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 4s;
  animation-duration: 1s;
  z-index: 20;
}
#stage a:nth-of-type(2) {
  z-index: 10;
}
#stage a:nth-of-type(n+3) {
  display: none;
}

@keyframes fader {
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
}
