.footer {
  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-direction: row; 
  
  height: 5vw;
  width: 100vw;
  background-color: 252525;

  border-top-style: solid;
  border-color: white;
  border-width: 1px;

  /* To keep footer at bottom */
  position: relative;
  bottom: 0;
  text-align: center;

  padding-left: 5vw;
  padding-right: 5vw;

}

.icon {
  width: 2.5vw;
  object-fit: contain;
  fill: white;
}

.writingSection {
  color: white;
}

.iconSection {
  display: flex;
  flex-direction: row;
}