.footer {
  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-direction: row; 
  
  height: 5vw;
  width: 100vw;
  background-color: 252525;

  border-top-style: solid;
  border-color: white;
  border-width: 1px;

  /* To keep footer at bottom */
  position: relative;
  bottom: 0;
  text-align: center;

  padding-left: 5vw;
  padding-right: 5vw;

}

.icon {
  width: 1.7vw;
  object-fit: contain;
  fill: rgba(255, 255, 255, 0.5);

  transition: 0.4s;
}

.icon1 {
  margin-right: 2vw;
}

.icon1:hover {
  fill: white;
}

.icon2:hover {
  fill: white;
}

.writingSection {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2vh;
}

.iconSection {
  display: flex;
  flex-direction: row;

}