.nav {
  border-bottom-style: solid;
  border-color: white;
  border-width: 1px;

  background-color: #252525;
}

.nav-links {
  display: flex;
  justify-content: space-between;

  margin-right: 5vw;
  margin-left: none;
  column-gap: 4vw;
}

.link {
  text-decoration: none;
  font-size: 1.5vw;
  color: #fff;
  
  display: flex;
  justify-content: center;

  margin: auto;

  transition: 0.3s;
}

.link:hover {
  color: #747474;
}

.logo {
  max-width: 6vw;

  margin: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.title {
  margin-left: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;

  font-size: 3vw;
  color: #fff;

}